[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/papu03
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/papu03
	label-Verified = -1..+1 group user/papu03
	push = group user/papu03
	read = group user/papu03
	rebase = group user/papu03
	removeReviewer = group user/papu03
	submit = group user/papu03
[access "refs/heads/*"]
	create = group user/papu03
	push = +force group user/papu03
	pushMerge = group user/papu03
	read = group user/papu03
[access "refs/tags/*"]
	push = group user/papu03
	push = +force group user/papu03
